app/dist
app/node_modules
services/*/node_modules
services/*/dist
services/**/.env
**/lambdaEnvironment.txt
**/.DS_Store
**/test-report.xml
**/coverage/**
integration-tests/bin
integration-tests/build
integration-tests/history
integration-tests/out
integration-tests/target
integration-tests/gradle/wrapper/gradle-wrapper.jar
