app/dist
app/node_modules
core/node_modules
domain/node_modules
services/*/node_modules
services/*/dist
services/**/.env
**/lambdaEnvironment.txt
**/.DS_Store
**/test-report.xml
**/coverage/**

*.dll
*.exe
.DS_Store
example.tf
terraform.tfplan
terraform.tfstate
bin/
modules-dev/
/pkg/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.backup
./*.tfstate
.terraform/
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml

website/vendor

!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/

integration-tests/bin
integration-tests/build
integration-tests/history
integration-tests/out
integration-tests/target
integration-tests/gradle/wrapper/gradle-wrapper.jar
