$box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);

$breakpoint-mobile: 640px;
$breakpoint-tablet: 768px;

$font-sans-serif: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$font-serif: "Merriweather", "Georgia", "Cambria", "Times New Roman", "Times", serif;
$font-size: 17px;

$hover-highlight: rgba(0, 0, 0, 0.12);
