@import '../../../../scss/variables.scss';

.sidebar-button-component {
  flex-basis: 54px;
  width: 100%;
  text-align: left;
  color: #616161;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  .button {
    flex-grow: 1;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
  }

  .icon {
    align-items: center;
    display: flex;
    flex-basis: 24px;
    height: 24px;
    min-width: 24px;
    justify-content: center;
  }

  .text {
    margin-left: 18px;
    font-weight: 600;
  }

  .new-tab-icon {
    opacity: 0;
  }

  .divider {
    border-top: 1px solid #dcdcdc;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .button:hover .new-tab-icon {
    opacity: 1;
  }
}

.sidebar-button-component:hover {
  background-color: $hover-highlight;
}
