@import '../../scss/variables.scss';

.navigation-bar-component {
  align-items: center;
  background-color: #193252;
  color: white;
  display: flex;
  font-weight: 700;
  height: 40px;
  min-height: 40px;
  padding-left: 30px;
  padding-right: 30px;

  a {
    color: white;
  }

  .route-button {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 100%;
  }

  .route-button:hover,
  .active-route {
    background-color: white;
    color: #193252;
  }

  .route-button-inner {
    border-left: 1px solid white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 14px;
    padding-right: 14px;
  }
}
