@import '../../scss/variables.scss';

.header-component {
  align-items: center;
  display: flex;
  min-height: 80px;
  user-select: none;
  width: 100%;

  .section {
    align-items: center;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
  }

  .section.left {
    justify-content: flex-start;
    margin-left: 30px;
  }

  .section.right {
    justify-content: flex-end;
    margin-right: 30px;
  }

  .image {
    background-color: #ccc;
    height: 50px;
    width: 121px;
    margin-right: 27px;
  }

  .application-title {
    font-size: 36px;
    font-weight: 700;
    padding: 0px;
    margin: 0px;
  }

  .logged-in-user-section {
    align-items: center;
    display: flex;
  }

  .user-menu-button {
    align-items: center;
    border-radius: 5px;
    color: #4b4b4b;
    cursor: pointer;
    display: flex;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 27px;
    padding-top: 8px;
  }

  .user-menu-button:hover {
    color: black;
  }

  .user-icon {
    font-size: 20px;
    margin-right: 10px;
  }

  .username {
    margin-right: 7px;
  }
}
