@import '../../scss/variables.scss';

.gov-website-banner-component {
  align-items: center;
  background-color: #f1f1f1;
  color: #212121;
  display: flex;
  font-size: 12px;
  min-height: 21px;
  padding-bottom: 1px;
  padding-left: 30px;
  padding-right: 30px;
  
  .flag-image {
    background-image: url("http://designsystem.digital.gov/assets/img/favicons/favicon-57.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 1px;
    height: 20px;
    margin-right: 7px;
    position: relative;
    width: 20px;
  }

  .text {
    align-self: flex-start;
    line-height: 18px;
  }
}
